.report {
    width: 100%;
    margin-top: 46px;
    box-sizing: border-box;
    border: 1px dashed #939DA6;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-family: 'TT Norms';
}

.report__title {
    display: inline-block;
    margin: 0;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}

.report__table {
    width: 100%;
    margin-top: 27px;
    border-spacing: 0;
}

@media (max-width: 500px) {
    .report {
        width: min-content;
        padding: 20px;
        margin-right: 45px;
    }
    .report__table {
        width: min-content;
    }
}

.report__table th {
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    padding: 0;
    color: #939DA6;
    vertical-align: top;
}

@media (max-width: 500px) {
    .report__table th {
        padding-right: 10px;
    }
}

.report__table th:nth-child(1), .report__table th:nth-child(3), .report__table th:nth-child(4) {
    width: 15%;
}

.report__table th:nth-child(2) {
    width: 30%;
}

.report__table td {
    /* display: block; */
    text-align: left;
    font-size: 13px;
    /* background-color: lavender; */
    padding: 20px 0;
    vertical-align: top;
    line-height: 18px;
    border-bottom: 1px solid #E9E9E9;
}

@media (max-width: 500px) {
    .report__table td {
        padding-right: 10px;
    }
}

.report__table tr:last-child td {
    border-bottom: none;
}

.report__date {
    font-size: 16px !important;
    line-height: 19px !important;
}

@media (max-width: 500px) {
    .report__date {
        font-size: 13px !important;
    }
    
}

.report__user {
    font-size: 12px !important;
}

.report__item {
    width: max-content;
    float: left;
    width: 50px;
}

.report__icon {
    display: block;
}

@media (max-width: 500px) {
    .report__icon {
        margin-top: 25px;
    }
}