.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.filters__select {
    width: 220px;
    max-width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid #E9E9E9;
    font: inherit;
    font-size: 16px;
    padding-left: 12px;
    letter-spacing: 0.16px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance: none !important;

    background-image: url('../../../svg/arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;

}

.filters__radio
{
    position: absolute;
    left: -9999px;
}

.filters__label {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 11px;
    font-size: 14px;
}

.filters__checkbox {
    margin-top: 10px;
    display: flex;
}

.filters__checkbox:hover {
    cursor: pointer;
}

.filters__checkbox_first {
    margin-top: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to {opacity: 1;}
}

.check-circle {
    animation: fadeIn .3s;
}

.check-circle_hidden {
    display: none;
}

.filters__button {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 180px;
    height: 40px;
    background-color: #4990E2;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.16px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.filters__button_hover {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: rgba(255, 255, 255, 0.2);
    visibility: hidden;
}

.filters__button:hover .filters__button_hover {
    cursor: pointer;
    visibility: visible;
}   

@media (max-width: 500px) {
    .filters__button {
        position: relative;
        margin: 30px 0;
    }
}