.App {
  text-align: center;
  max-width: 900px;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 106px;
}

#root {
  display: flex;
  justify-content: center; 
}

@media (max-width: 500px) {
    #root {
      width: min-content;
    }
}


@font-face {
  font-family: "TT Norms";
  src: url("./media/fonts/TTNorms-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('./media/fonts/TTNorms-Medium.woff') format('woff');
  font-weight: bold;
}