.search {
    font-family: 'TT Norms';
    font-weight: normal;
    font-size: 16px;
    width: 320px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .search {
        width: 100%;
    }
}

.search__title {
    color: #8C8C8C;
    margin: 0;
    text-align: left;
    display: block;
    height: 24px;
}
.search__form {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search__select {
    width: 210px;
    height: 30px;
    outline: none;
    padding: 0 10px 0 12px;
    box-sizing: border-box;
    border: 1px solid #E9E9E9;
    font: inherit;
    letter-spacing: 0.16px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance: none !important;
}

.search__button {
    width: 90px;
    height: 40px;
    background-color: #353535;
    color: white;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.16px;
    border-radius: 3px;
    margin-left: 20px;
    position: relative;
}

.search__button::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: rgba(255, 255, 255, 0.2);
    visibility: hidden;
}

.search__button:hover::after {
    visibility: visible;
    cursor: pointer;
}